<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="cancel()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center">
    <ion-text color="primary" class="font-family-poppins-medium font-size-16">Applying for:</ion-text>
    <br><br>
    <ion-text class="font-family-poppins-medium font-size-16 grey-65">{{ job?.title }}</ion-text>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label color="primary" position="floating">Name</ion-label>
          <ion-input class="font-family-poppins-medium font-size-14 grey-65" type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label color="primary" position="floating">Email</ion-label>
          <ion-input class="font-family-poppins-medium font-size-14 grey-65" type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label color="primary" position="floating">Contact Number</ion-label>
          <ion-input class="font-family-poppins-medium font-size-14 grey-65" type="tel" [(ngModel)]="contactNumber"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <div class="cv-upload-box">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="9">
                <ion-text class="font-family-poppins-medium font-size-16">CV</ion-text>
                <div class="font-family-poppins-medium font-size-14 display-flex ion-align-items-center" *ngIf="cvName">
                  <div class="pdf-logo-container">
                    <img src="assets/img.png" alt="PDF logo" class="ion-margin-end">
                  </div>
                  <div class="font-size-12 font-family-poppins-medium">
                    {{ cvName }}
                  </div>
                </div>
              </ion-col>
              <ion-col size-xs="3">
                <button class="upload-button" (click)="fileInput.click()"><ion-icon name="document-attach-outline"></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-xs="12">
        <button class="send-button font-family-poppins-semi-bold font-size-14" (click)="send(job)">Send</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
