.job-card {
  background-color: #98E19A;
  height: 6em;
}

ion-item-sliding {
  border-radius: 1em;
  background-color: #98E19A;
}

ion-item-options {
  background-color: #66A96B;
  text-align: right;
  width: 40px !important;

  ion-icon {
    color: #FFFFFF;
    font-size: 1.5em;
  }
}
