<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-margin-top ion-padding-horizontal">
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>

      <ion-title class="ion-text-center">
        Hi {{user ? ", " + user.name : ""}}
      </ion-title>

      <ion-avatar>
        <img src="./assets/profile_pic.png" />
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="header-text">
    Find your <ion-text color="primary">dream job</ion-text> here.
  </div>

  <div id="recommendations" class="ion-padding">
    <ion-grid class="ion-text-justify">
      <ion-row>
        <ion-col size-xs="9">
          <ion-text color="dark">Based on your skills</ion-text>
        </ion-col>
        <ion-col size-xs="3">
          <ion-text color="primary" class="ion-text-right">View all</ion-text>`
        </ion-col>
      </ion-row>
    </ion-grid>

  <div class="ion-padding job-cards-container">
    <app-job-card></app-job-card>
    <app-job-card></app-job-card>
  </div>

  </div>
</ion-content>
