.container {
  margin-top: 5em;
}

ion-avatar {
  height: 6em;
  width: 6em;
  border: 2px solid var(--ion-color-primary-dark);
}

.edit-button {
  background-color: var(--ion-color-primary-dark);
  width: 7em;
  height: 2em;
  color: var(--ion-color-primary-dark-contrast);
  border-radius: 2em;
}
