<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="cancel()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12">
        <div class="details-box ion-padding-bottom ion-padding-top">
          <div class="ion-text-center">
            <img src="{{ job.company.logo }}" alt="Logo">
          </div>
          <div class="ion-text-center">
            <ion-text class="font-size-16 font-family-poppins-medium">{{ job.title }}</ion-text>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="11" push-xs="1" class="display-flex ion-align-items-center">
                <ion-icon name="location-outline" aria-hidden="true">
                </ion-icon><ion-text class="font-family-poppins-regular font-size-12 color-light-grey">{{ job.location }}</ion-text>
              </ion-col>
              <ion-col size-xs="11" push-xs="1" class="display-flex ion-align-items-center">
                <ion-icon name="cash-outline" aria-hidden="true"></ion-icon>
                <ion-text class="font-family-poppins-regular font-size-12 color-light-grey">{{ job.salary | currency:'R'}} - {{ job.salary | currency:'R'}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-xs="12" class="ion-padding-top">
        <ion-text class="font-family-poppins-medium font-size-16" color="primary">Job Description</ion-text>
        <div class="font-family-poppins-regular font-size-12 color-light-grey ion-padding-top">
          <div innerHTML="{{ job.description }}"></div>
        </div>
      </ion-col>

      <ion-col size-xs="12" class="ion-padding-top" *ngIf="job.requirements && job.requirements.length > 0">
        <ion-text class="font-family-poppins-medium font-size-16" color="primary">Requirements</ion-text>
        <div class="font-family-poppins-regular font-size-12 color-light-grey ion-padding-top">
          <ul class="ion-padding-start">
            <li *ngFor="let requirement of job.requirements">{{ requirement }}</li>
          </ul>
        </div>
      </ion-col>

      <ion-col size-xs="12" class="ion-padding-top" *ngIf="job.responsibilities && job.responsibilities.length > 0">
        <ion-text class="font-family-poppins-medium font-size-16" color="primary">Responsibilities</ion-text>
        <div class="font-family-poppins-regular font-size-12 color-light-grey ion-padding-top">
          <ul class="ion-padding-start">
            <li *ngFor="let responsibility of job.responsibilities">{{ responsibility }}</li>
          </ul>
        </div>
      </ion-col>

      <ion-col size-xs="12" class="ion-padding-top" *ngIf="job.perks && job.perks.length > 0">
        <ion-text class="font-family-poppins-medium font-size-16" color="primary">Perks</ion-text>
        <div class="font-family-poppins-regular font-size-12 color-light-grey ion-padding-top">
          <ul class="ion-padding-start">
            <li *ngFor="let perk of job.perks">{{ perk }}</li>
          </ul>
        </div>
      </ion-col>

      <ion-col size-xs="12" class="ion-padding-top" *ngIf="job.benefits && job.benefits.length > 0">
        <ion-text class="font-family-poppins-medium font-size-16" color="primary">Benefits</ion-text>
        <div class="font-family-poppins-regular font-size-12 color-light-grey ion-padding-top">
          <ul class="ion-padding-start">
            <li *ngFor="let benefit of job.benefits">{{ benefit }}</li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <button class="apply-button" (click)="apply()">Apply</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
