.details-box {
  width: 100%;
  background-color: var(--ion-color-primary);
  height: 10em;

  ion-icon {
    padding-right: 0.2em;
  }
}

.apply-button {
  background-color: var(--ion-color-primary-dark);
  width: 100%;
  height: 3em;
  color: var(--ion-color-primary-dark-contrast);
  border-radius: 2em;
}

ion-icon[name="arrow-back-outline"] {
  font-size: 2.5em;
}
